#room-wrapper {
  padding: 1%;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  /* justify-content: stretch; */
}

#room-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 30%;
}

#room-back-button {
  margin-top: 5%;
  width: 25%;
}

#room-ready-button {
  font-size: 3rem;
  height: 7%;
}

#room-users-container {
  margin-top: 30%;
}

#game-info {
  width: 50%;
  height: 1000px;
  padding: 0% 5%;
  border: 10px solid grey;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.user {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
}

.user-header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-bottom: 5px;
}

.user-ready-status {
  min-width: 25px;
  border-radius: 50%;
  padding: 5px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.highlight {
  background-color: green;
}

.underline {
  text-decoration: underline;
}

.user-progress-wrapper {
  width: 75%;
  min-height: 25px;
  border: 2px solid grey;
}

.user-progress {
  height: 100%;
  min-height: 25px;
  width: 0%;
  background-color: green;
}

#room-ready-button {
  margin-top: 70%;
}

#room-text {
  align-self: center;
  justify-self: center;
  padding-top: 70%;
}

#room-seconds-left {
  align-self: flex-end;
  justify-self: flex-start;
}

#room-start-timer {
  padding-top: 70%;
}